*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer {
    background-color: #162f65;
}

.row-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}