





body {
  margin: 0;
  padding: 0;
}

#main-content {
  border: none;
}
  

#navi-content {
  background-color: #162F65;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 0;
}

li {
  list-style: none;
}


.navmp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;

}


.mp {
    background-color: #162F65;
}


#pur {
  text-decoration: none;
  color: white;
  padding: 3px;
}

#pur.active {
  text-decoration: none;
  color: white;
  border-bottom: solid;
  border-color: #FFC766;
}

.added-purchase {
  background-color: #F8F9FA;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px #888888;
}

.added-purchase p {
  margin: 0;
  font-size: 15px;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.upper-section h1 {
  margin: 0;
}

.upper-section p {
  margin: 0;
}

.upper-section a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.purchase-hr {
  margin: 0;
  margin-bottom: 15px;
}

.middle-section {
  display: flex;
  width: 100%;
}

.left-section {
  display: flex;
  width: 100%;
}

.item-dscrptn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.item-dscrptn h1{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.quantity {
  margin-bottom: 18px;
}

.item-dscrptn p{
  font-size: 13px;
}

.item-dscrptn h1::first-letter{
  text-transform: capitalize;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.price-ttl {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.price p {
  font-size: 15px;
}

.price h6 {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}

.price-dtl {
  width: 100%;
  display: flex;
  align-items: center;
}

.cancelOrderBtnFromPending {
  background-color: #162F65;
  border: none;
  padding: 4px 6px;
  width: 150px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.cancel-btn {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bottom-section {
  display: flex;
  align-items: center;
  padding: 5px;
}

.payment-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.payment-btn {
  background-color: #162F65;
}

.upper-section-cancel {
  display: flex;
}