{{ header }}
<div id="review">
  {% include 'product/all_review_partial.twig' %}
</div>


<script type="text/javascript">
  // AJAX pagination for reviews
  $(document).on('click', '#review .pagination a', function (e) {
    e.preventDefault();

    $('#review').fadeOut('fast').load(this.href, function () {
      $(this).fadeIn('fast');
    });
  });

</script>
{{ footer }}
