.breadcrumb {
    display: flex;
    list-style: none;
    align-items: center;
    width: 80%;
    gap: 5px;
    margin: 0 0 10px 0;
    background: #fafafa;
    border-radius: 5px;  /* Remove border radius */
    padding: 0;
    overflow: hidden;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}
.breadcrumb li{
    /* background: #f6c96d; */
    position: relative;
    display: inline-block;
	position: relative;
	
	&:last-child {
		
		&::before,
		&::after {
			background: #dfdfdf;
		}
	}
	
	
	&:not(:last-child):hover {
		&::before,
		&::after {
			background: #f6c96d;
		}
	}
    
}

.breadcrumb li::after{
    background: #ebebeb;
    content: '';
		position: absolute;
		left: 0;
		height: 51%;
		width: 100%;
		z-index: 1;
        bottom: 0;
		transform: skew(-30deg);
        transition: all 0.2s ease;
   
}
.breadcrumb li::before{
    background: #ebebeb;
    content: '';
		position: absolute;
		left: 0;
		height: 51%;
		width: 100%;
		z-index: 1;
        top: 0;
		transform: skew(30deg);
        transition: all 0.2s ease;
   
}
.breadcrumb li:first-child a::before{
    background: #ebebeb;
    content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        z-index: -1;   
        transition: all 0.2s ease;
}
.breadcrumb li:first-child:hover a::before{
    background: #f6c96d;
    
}
.breadcrumb li a{
    padding: 10px ;
    display: block;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #000;
    font-size: 12px;
   
}
#product-category, #product-product, #product-search{
    display: flex;
    flex-direction: column;
    
}

#product-category .row{
    display: grid;
    grid-template-columns: 280px 2fr;
    gap: 20px;
    width: 80%;
}

#product-category .list-group{
    display: flex;
    flex-direction: column;
    background: #fdfdfd;
    border-radius: 5px;
    /* border: 1px solid #f1f1f1; */
    border-left: 4px solid #162F65;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#product-category .list-group-item.active{
    padding: 10px 15px;
    background-color: #f6c96d !important;
    font-weight: 600;
    color: #162F65 ;
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
}

 #product-category .list-group-item{
    padding: 10px 15px;
   text-decoration: none;
   color: #162F65;
   transition: all 0.2s ease;
   font-size: 13px;
 }

#product-category .list-group-item:hover, #product-category .list-group-item:nth-child(even):hover{
    background: #f6c96d;
}
 #product-category .list-group-item:nth-child(even){
    /* padding: 5px 10px; */
   background: #f1f1f1;
}

.row-header-category{
    display: flex;
    justify-content: space-around;
    width: 100% !important;

    & .refine-search-group{
    padding: 20px;
        }
    & .img-container-category{
        width: 100%;
        padding: 20px;
        flex: 1;

        & img{
            width: 100%;
        }
    }

}


.refine-searches-list{
    /* list-style: none; */
    /* padding: 20px; */
     list-style: disc;
    padding-left: 10px;
    text-indent: 0.5em;   /* Pull the text back toward the marker */

    & > li::marker{
        font-family: "Font Awesome 5 Free"; /* Or the correct version */
        content: "\f1b0";
        font-weight: 600; /* Needed for solid icons */
        font-size: 10px;
        
        
    }
    & > li > a{
        text-decoration: none;
        color: #162F65;
        font-size: 18px;
        padding: 2px 0;
        display: block;
        transition: all 0.2s ease;
    }
    & > li > a:hover{
        text-decoration: underline;
        
    }
}

 #product-category .row #content{
    background: #fafafa;
    border-radius: 5px;
    /* padding: 20px; */
    overflow: hidden;
    & h2{
        background: #f6c96d;
        padding: 15px 20px;
        /* margin-bottom: 10px; */
        color: #162F65;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    & .product-row-menu{
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 18px;

        & button{
            background: #e0e0e0;
             color: #162F65;
             padding: 10px 15px ;
             border: none;
             border-radius: 5px;
             font-size: 20px;  
             cursor: pointer;
        }
        & .btn-link{
            text-decoration: none;
            color: #162F65;
        }
        & .btn-link:hover{
            text-decoration: underline;
        }
        & .sorting, .showing{
            
            /* padding: 10px ; */
            border-radius: 5px;
            & .form-group{
                background: #e0e0e0;
                overflow: hidden;
               border-radius: 5px;
               border: 1px solid #e0e0e0;
               font-size: 15px;
               display: flex;
               flex-wrap: ;
            }
            & label, select{
               border: none;
                padding: 5px;
                width: 100%;
                flex: 1;
                
            }
            
        }
    }
}

#product-category .product-row{
    margin: 20px 0;
    padding:15px 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    & .product-thumb {
            padding: 0px;
            overflow: hidden;
            min-width: 270px;
            min-height: 530px !important;
            background: #ffffff;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            
            & > .image {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f7f7f7;
                padding: 15px;
            }
            & .product-infos-list-group{
                /* padding:  15px 20px; */
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: space-between;
                height: 100%;
                flex: 1;
            }
            & .caption {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 15px 15px 0 15px;
                flex: 1;
                & h4 a{
                    text-decoration: none;
                    color: #162F65;
                    font-size: 1.2rem;
                }
                & .product-description{
                    font-size: 0.9rem;
                }
                & .price{
                    font-size: 1rem;
                    font-weight: 600;

                    & .price-tax{
                        display: block;
                        font-size: 0.9rem;
                        font-weight: normal;
                        color: #9b9b9b;
                    }
                }
            }
            & .button-group{
                display: flex;
                width: 100%;

            }
            & button{
                border: none;
                background: none;
                font-size: 0.9rem;
                cursor: pointer;
                transition: all 0.2s ease;
            }
            & button:first-child{
                background: #f6c96d;
                padding: 5px 10px;
                flex: 1;
                color: #162F65;
            }
            & button:first-child:hover{
                background: #ffd683;
                padding: 5px 10px;
                flex: 1;
                color: #162F65;
            }
            & button:nth-child(2),
            button:last-child{
                background: #162F65;
                padding: 15px 20px;
                color: #ffffff;
            }
            & button:nth-child(2):hover,
            button:last-child:hover{
                background: #20438e;
                
            }
            & button:last-child{
                border-left: 1px solid #f1f1f1;
            }
        }
        & .product-thumb:hover{
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transform: scale(1.05);
            transition: all 0.2s ease;
        }
}
 